body{width:500px;}
.head{text-align:center;background-color:orange;padding:15px 0;}
.list{border-style:dashed;border-radius:20px;}
.list p{background-color:whitesmoke;
padding:5px 10px;
margin-left:5px;}