h1{font-family:궁서}
.divbox{border:5px solid brown;background-color:burlywood;width:500px}
.tablemark{list-style-type:circle;}
.daum a:hover{font: italic black;text-shadow:2px 2px black }
.list{font-family:궁서;color:green;text-decoration: underline 2px red wavy;}