.header{
    border:3px solid red;
}
.nav{
    border:3px solid blue;
    float:left;
    width:25%;
    background-color:aqua
}
.section{
    border:3px solid green;
    margin-left:25%;
    background-color:greenyellow;
    overflow:auto;
    height:300px;
    /*height를 지정한 곳에서는 scroll이 생긴다.*/
}
.footer{
    clear:both;
    border:3px solid purple;

}
h1{
    text-align:center;
}
body{
    border:3px solid black;
}
.alignmargin{
    width:150px;
    margin:auto;
}
.alignposition{
    position:absolute;
    left:50%;
}