.goto{
    position:fixed;
    border:3px black solid;
    background-color: burlywood;
    width:130px;
    padding:0 20px 10px 10px;
    right:0;
    top:0;
}
.goto a{
    text-decoration-line:none;
    padding:0 0 0 10px;
    color:black;
}
.goto a:hover{
    color:white;
}