@import url(./cssbox.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    
    font-weight: normal;
    font-style: normal;
}
input[type=button]{
    cursor:pointer;
    background-image:url(./image/pencil.png);
    background-size:cover;
    width:100px;
    height:100px;
    border-radius:20px;
}
input[type=button]:hover{
    border:none;
}
.fontface{
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:bold;
}
.linear{
    background:-webkit-linear-gradient(right bottom,yellow,blue,white);
    height:50px;
}
.linear2{
    background:-webkit-linear-gradient(45deg,red,violet,black);
    height:50px;
}
body{
    background:-webkit-linear-gradient(top,#0000009a,#ffff009a)
}
.circle1{
    width:150px;
    height:150px;
    background:radial-gradient(red 25%,blue 50%,yellow 70%,orange 90%,green 100%)
}
.circle2{
    width:150px;
    height:150px;
    background:radial-gradient(farthest-side,red,orange,yellow,green,blue,indigo,purple)
}
.shadowbox{
    width:100px;
    height:150px;
    background-color:green;
    box-shadow: -13px -3px 2px blue;
}
.background{
    background-image:url(./image/pencil2.png),url(./image/sparrow.jpg);
    height:300px;
    width:600px;
}
.background2{
    width:500px;
    height:400px;
    border:#fff 20px solid;
    padding:30px;
    background-image:url(./image/pencil.png);
    background-origin:content-box;
    background-clip:content-box;
}
.background3{
    width:500px;
    height:400px;
    border:#fff 20px solid;
    padding:30px;
    font-size:50px;
    background-image:url(./image/sparrow.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}
.borderimage{
    border-style:solid;
    border-image:url(./image/border.png) 30/19px ;
    width:300px;
    height:200px;
}
.textline{
    background-color:blue;
    height:50px;
    /*각 컨텐츠의 값이 넘쳤을 때 어떻게 보일지 처리*/
    overflow:hidden;
    /*글자가 자동 줄 바꿈이 있는지 확인*/
    white-space : nowrap;
    /*글자가 그 크기를 넘어갔을 때 모습 정함*/
    text-overflow:ellipsis;
    word-break:break-all;
    word-wrap:break-word;
}
.textkr{
    background-color:yellowgreen;
    width:320px;
    height:150px;
    /*
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    */
    word-break:keep-all;
}