ul{
    list-style-type:none;
}
.content{
    border:3px solid red;
}
.sharp>ul{
    overflow:auto; padding:20px;
    float:right;
    list-style:none;
}
.sharp>ul>li{
    float:left;
    padding:5px 20px;
    margin-left:20px;
    background-color:blue;
    border-radius:20px;
    color:white;
}
a{
    text-decoration-line:none;
}