.outbox p{
    background-color:green;
    color:red;
}
.outbox>p{
    background-color:yellow;
    color:blue;
}
.sibling~p{
    background-color:brown;
    color:white;
}
/*+를 사용할 때는 바로 뒤에 있는 태그만 찾을 수 있다*/
.sibling+a{
    background-color:blueviolet;
}
/*a 태그는 sibling 클래스 바로 뒤에 시작하는게 아니라서 찾지 못한다.*/
.sibling+p{
    background-color:blueviolet;
}
.sibling~.test{
    background-color:darkgoldenrod;
}
.inputfocus:hover{
    background-color:aqua;
}
.inputfocus:focus{
    background-color:green;
}
.inputfocus:focus+p{
    color:brown;
}
.checkboxclass>input:checked+span{
    color:gray;
}
.checkboxclass>input:disabled+span{
    text-decoration : line-through 3px solid black;
}
.menulist>li:first-child{
    background-color:cornflowerblue
}
.menulist>li:last-child{
    background-color:rosybrown
}
.menulist>li:nth-child(3n){
    background-color:coral
}
.menulist>li:nth-last-child(3){
    background-color:darkviolet
}
.tablecolor{
    border-collapse:collapse;
    background-color:aqua;
}
/*자식태그로 할 경우 tdoay 추가*/
.tablecolor>tbody>tr:nth-child(2n) td{
    background-color:red;
}
/*만약 자손태그로 바로 한다면 tbody 생략가능*/
.oftype p:first-of-type{
    color:magenta;
}
/*클래스를 지정하고 자식으로 타입찾기 : first-child와 동일한 역할*/
.firstletter::first-letter{
    font-size:30px;
    color:blue;
}
.firstline::first-line{
    font-size:25px;
    color:brown;
}
.before::before{
    content:"";
    background-image: url(./image/sparrow.jpg);
    display:inline-block;
    width:50px;
    height:50px;
    background-size:cover;
}
.after::after{
    content:"";
    background-color:burlywood;
    display:inline-block;
    width:5px;height:15px;
}
.aftercolor:hover:after{
    content:"추가된 글자";
    color:#ff00ff;
    display:inline-block;
    width: 100%;
    height: 30px;
    background-color:black;
    position:absolute;
    left:0;
}
.classattr>input[type="radio"]:checked+span{
    color:blue;
    text-decoration:underline wavy 2px rosybrown;
}
.classattr>input[type=text]:hover+span{
    background-color:greenyellow;
    color:white;
}
.classattr>input[type=button]:hover{
    background-color: black;
    color:white;
    border-radius:3px;
}
.classattr>input[type=checkbox][name="group"]:checked +span{
    color:blueviolet;
}