.outbox p{
    background-color:green;
    color:red;
}
.outbox>p{
    background-color:yellow;
    color:blue;
}
.sibling~p{
    background-color:brown;
    color:white;
}
/*+를 사용할 때는 바로 뒤에 있는 태그만 찾을 수 있다*/
.sibling+a{
    background-color:blueviolet;
}
/*a 태그는 sibling 클래스 바로 뒤에 시작하는게 아니라서 찾지 못한다.*/
.sibling+p{
    background-color:blueviolet;
}
.sibling~.test{
    background-color:darkgoldenrod;
}
.inputfocus:hover{
    background-color:aqua;
}
.inputfocus:focus{
    background-color:green;
}
.inputfocus:focus+p{
    color:brown;
}
.checkboxclass>input:checked+span{
    color:gray;
}
.checkboxclass>input:disabled+span{
    text-decoration : line-through 3px solid black;
}
.menulist>li:first-child{
    background-color:cornflowerblue
}
.menulist>li:last-child{
    background-color:rosybrown
}
.menulist>li:nth-child(3n){
    background-color:coral
}
.menulist>li:nth-last-child(3){
    background-color:darkviolet
}
.tablecolor{
    border-collapse:collapse;
    background-color:aqua;
}
/*자식태그로 할 경우 tdoay 추가*/
.tablecolor>tbody>tr:nth-child(2n) td{
    background-color:red;
}
/*만약 자손태그로 바로 한다면 tbody 생략가능*/
.oftype p:first-of-type{
    color:magenta;
}
/*클래스를 지정하고 자식으로 타입찾기 : first-child와 동일한 역할*/